body {
    background-image: url('newspaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 5rem 0rem;
    font-size: 4rem;
    border: double; 

    @media (max-width: 576px) {
        margin: 1rem 0rem;
    }

    @media (min-width: 576.02px) and (max-width: 768px) {
    
    }

    @media (min-width: 768.02px) and (max-width: 992px) {
    
    }

    @media (min-width: 992px) and (max-width: 1200px) {

    }

    @media (min-width: 1200px) and (max-width: 1600px) {
    
    }

    @media (min-width: 1600px) {
    
    }
}

h4 {
    font-size: 1.2rem;
}